li {
  color: rgb(255, 255, 255);
}

h1{
  color: rgb(255, 255, 255);
  background-color: rgb(147, 32, 32);
  margin: 20px;
  text-align: center;
}

body{
  background-color: gray;
}

p.bse{
  text-align: center;
  font-weight: bold;
}

div.comecou{
  text-align: center;
  color: white;
}

a.canjics{
  color: white;
  text-decoration: none;
  
}

.container{
  background-color: white;
  color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}