/* Estilos para a pizza */
.pizza-cycle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  transform: rotate(-45deg);
}

/* Estilos para cada fatia */
.slice {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

/* Estilos para cada fatia individualmente */
.slice:nth-child(1) {
  clip: rect(0px, 150px, 300px, 0px);
  transform: rotate(45deg);
  border-color: #ffcc00; /* Cor da fatia 1 */
}

.slice:nth-child(2) {
  clip: rect(0px, 150px, 300px, 0px);
  transform: rotate(90deg);
  border-color: #ff0000; /* Cor da fatia 2 */
}

/* Adicione estilos para mais slices conforme necessário */